:root {
  --color-brand-1: #113;
  --color-brand-2: #fcd;
  --color-darkest: #fff;
  --color-darker: rgba(255, 255, 255, 0.7);
  --color-half: rgba(255, 255, 255, 0.5);
  --color-light: rgba(255, 255, 255, 0.1);
  --color-lighter: rgba(255, 255, 255, 0.05);
  --color-lightest: #002;
  --color-invisible: rgba(255, 255, 255, 0.001);
  --color-red: #c02;
  --color-orange: #c50;
  --color-yellow: #ca0;
  --color-green: #090;
  --color-blue: #08c;
  --color-indigo: #04c;
  --color-violet: #40c;
  --color-pink: #c08;
  --radius: 0.5rem;
  --space-gap: 1rem;
  --space-clamp: clamp(1.5rem, 5vw, 4rem);
}

* {
  box-sizing: border-box;
}

/* Typography */

body {
  background: var(--color-lightest);
  color: var(--color-darkest);
  font: 100%/1.5 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
  margin: 0;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
p {
  margin: 0;
  text-wrap: balance;
}

h1 {
  font-size: clamp(3rem, 10vw, 8rem);
  letter-spacing: -0.03em;
  line-height: 1.2;
}

h1 + p,
h2 + p,
.lede {
  color: var(--color-half);
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 60rem;
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

abbr {
  border-bottom: 1px dotted var(--color-half);
  cursor: help;
  text-decoration: none;
  /* text-decoration-color: var(--color-half); */
}

button {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
}

.smallcaps {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Layout */
header {
  align-items: baseline;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: clamp(1rem, 3vw, 2rem);
}

footer {
  align-items: center;
  display: flex;
  gap: 2rem;
  padding: clamp(1rem, 3vw, 2rem);
}

section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  padding: var(--space-clamp);
}

.inset {
  display: flex;
  flex: 1;
  gap: var(--space-gap);
  max-width: 75rem;
}

.column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--space-gap);
}

/* Header */
nav,
.nav-group {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#menu-bars {
  align-items: center;
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  font-size: 1.25rem;
  height: 2.5rem;
  justify-content: center;
  width: 2.5rem;
}
#menu-bars:hover,
.open #menu-bars {
  background: var(--color-light);
}
.open #menu-bars i::before {
  content: '\f00d';
}
.nav-group {
  display: none;
}
.open .nav-group {
  display: flex;
}
nav a {
  color: var(--color-half);
  text-decoration: none;
}
nav a:hover,
nav a.active {
  color: var(--color-darkest);
}
nav .button {
  margin: 0.5rem 0 0;
}

@media (min-width: 40rem) {
  header {
    align-items: center;
  }
  nav,
  .nav-group {
    align-items: center;
    flex-direction: unset;
    gap: 1.5rem;
  }
  nav,
  .nav-group:not(:last-child) {
    flex: 1;
  }
  #menu-bars {
    display: none;
  }
  .nav-group {
    display: flex;
  }
}

/* Footer */
footer {
  color: var(--color-half);
}

/* Brand */

.mask-brand {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.mask-logo {
  align-items: center;
  background: var(--color-darkest);
  border-radius: 1rem;
  color: #113;
  display: flex;
  font-size: 1.25rem;
  height: 1.5rem;
  justify-content: center;
  line-height: 1;
  width: 2.5rem;
}
.mask-diamond:last-child {
  color: #fcd;
  margin: 0 0 0 -0.5em;
}
.mask-word {
  color: var(--color-darkest);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Components */

.arrow-link {
  align-items: baseline;
  color: var(--color-brand-2);
  border-bottom: 1px solid currentColor;
  display: flex;
  gap: 0.5rem;
}
.arrow-link::after {
  content: '\f061';
  font-family: 'Font Awesome 7 Pro';
}
.arrow-link:hover {
  color: var(--color-darkest);
}

.button {
  background: var(--color-darkest);
  border-radius: var(--radius);
  border: 0;
  color: var(--color-lightest);
  cursor: pointer;
  font-weight: 600;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s;
  white-space: no-wrap;
}

.button:hover {
  background: var(--color-brand-2);
  color: var(--color-lightest);
}

/* == Home == */

/* Hero */
#hero {
  display: flex;
  padding: var(--space-clamp);
}
#hero .inset {
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  margin: 0 auto;
  max-width: unset;
  overflow: hidden;
  padding: var(--space-clamp);
  position: relative;
  text-align: center;
}
#hero .inset > *:not(.overlay) {
  position: relative;
}

.overlay {
  background: #113b; /* linear-gradient(to bottom, #113, #fcd); */
  /* mix-blend-mode: screen; */
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.badge {
  background: var(--color-light);
  border-radius: 2rem;
  color: var(--color-darker);
  font-size: 14px;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
}

#hero video {
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  margin: var(--space-clamp) 0 0;
  width: 100%;
}

/* Agentics */

.patents {
  color: var(--color-half);
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* == Way == */

/* Architecture */

#arch .inset {
  flex-direction: column;
  gap: 1.5rem;
}
#arch h3 {
  margin: 0 0 0.5rem;
}
#arch .smallcaps,
#arch p {
  color: var(--color-half);
}
#arch-stages {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0;
}
.arch-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#arch-stages > div {
  background: var(--color-light);
  /* prettier-ignore */
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%, 1rem 50%);
  flex: 1;
  padding: 1rem 2rem;
}
#arch-stages > div:first-child {
  border-radius: var(--radius);
  /* prettier-ignore */
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%);
}
#arch-exec,
#arch-grid > div {
  background: var(--color-light);
  border-radius: var(--radius);
  padding: 1rem;
}
#arch-exec,
#arch-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#arch-exec > div,
#arch-grid > div {
  flex: 1 0 10rem;
  text-wrap: balance;
}

@media (min-width: 40rem) {
  #arch-grid > div {
    flex: 1 0 20rem;
  }
}

/* Rainbow */
#rainbow-list {
  display: flex;
  flex-direction: column;
}
.rainbow-item {
  cursor: pointer;
  font-size: clamp(1rem, 4vw, 3rem);
  font-weight: 600;
  letter-spacing: -0.02em;
}

#rainbow-views {
  display: flex;
  flex: 1;
}
.rainbow-view {
  align-items: center;
  background: var(--color-light);
  border-radius: var(--radius);
  display: none;
  flex: 1;
  font-size: 5rem;
  justify-content: center;
}
.rainbow-view.active {
  display: flex;
}

.rainbow-active-color .active:nth-child(1) {
  color: var(--color-red);
}
.rainbow-active-color .active:nth-child(2) {
  color: var(--color-orange);
}
.rainbow-active-color .active:nth-child(3) {
  color: var(--color-yellow);
}
.rainbow-active-color .active:nth-child(4) {
  color: var(--color-green);
}
.rainbow-active-color .active:nth-child(5) {
  color: var(--color-blue);
}
.rainbow-active-color .active:nth-child(6) {
  color: var(--color-indigo);
}
.rainbow-active-color .active:nth-child(7) {
  color: var(--color-violet);
}

/* == Investors == */

/* == Privacy & Terms == */

#privacy .inset,
#terms .inset {
  flex-direction: column;
}
